@page
@model IndexModel
@{
    ViewData["Title"] = "TicTacToe";
}

<style>
    .tic-tac-toe-cell {
        width: 150px;
        height: 150px;
        border: solid 1px #000000;
        padding: 0px;
    }
</style>

<div class="container" style="width:450px; height:450px; border:solid 1px #000000">
    <div class="row">
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button" >Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button" >Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button" >Link</a>
        </div>
    </div>
    <div class="row">
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
    </div>
    <div class="row">
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
        <div class="col tic-tac-toe-cell">
            <a href="#" class="btn btn-secondary" role="button">Link</a>
        </div>
    </div>
</div>
